.general_contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.contact_title {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}
.contact_title h2 {
  font-size: 5em;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}
.contact_title h3 {
  font-size: 3em;
  font-family: "Roboto Condensed", sans-serif;
  color: #ff8b8b;
}
.contact_img {
  margin-top: 5%;
  width: 50%;
  height: 100%;
}
.contact_img img {
  width: 80%;
}
.contact_div {
  width: 100%;
  height: 100%;
}
.contact_div a {
  font-size: 30px;
  margin-left: 10%;
}
@media (max-width: 767px) {
  .general_contact {
    flex-direction: column;
    height: 100vh;
  }
  .contact_title {
    margin-top: 10%;
    width: 80%;
  }
  .contact_title h2 {
    font-size: 50px;
    margin: 0;
  }
  .contact_title p {
    font-size: 20px;
  }
  .contact_title h3 {
    font-size: 30px;
  }
  .decoration_one {
    opacity: 0;
  }
  .button {
    width: 150%;
    height: 100%;
    margin: 0;
  }
  .button button {
    height: 100%;
  }
  .button a {
    font-size: 15px;
  }
  .contact_img {
    width: 100%;
  }
  .contact_img img {
    width: 300px;
    margin-bottom: 70%;
    margin-left: 80%;
  }
  .icon {
    font-size: 25px;
  }
}
